<section id="add"> 
<p>"You have <%= @bikes.count %> bikes"</p> 
  <form action="/bikes" method="post">  
    <!-- <textarea name="content"></textarea>  --> 
    <input type="submit" value="Add Bike!">  
  </form>  
</section>  
