<section id="delete"> 

	<form action="/bikes/<%= @bike.id %>" method="post">  
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete Bike!">  
    </form>

</section> 