<!doctype html>  
<html lang="en">  
<head>   
</head>  
<body>  
  <header>  
    <hgroup>  
      <h1><a href="/">Boris Bikes</a></h1>   
    </hgroup>  
  </header>  
  
  <div id="main">  
    <%= yield %>  
  </div>  
  
  <!-- <footer>  
    <p><small>An app by <a href="http://patgw.com">PatGW</a></small></p>  
  </footer>   -->
</body>  
</html> 