<section id="show"> 

	<form action="/bikes/<%= @bike.id %>" method="post">  
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="Edit Bike!">  
    </form>

</section>  